
@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap);

div {
    text-align: center;
}



body {
    background-color: #dddddd;
    
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(https://fonts.gstatic.com/s/lato/v24/S6u9w4BMUTPHh7USSwiPGQ.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      
    
}

.descuento {
    color: white;
    background-color: red;
}

button {
    border-radius: 30%;
    background-color: #add500;
}


.lista {
    content:\2713\0020;
}

ul {
    font-size: 20px;

}

li:before{
    content:" \2713\0020"
    
}
li {
    list-style-type: none;
}
h1 {
    left:10px ;
    text-align: left;
}
p {
    text-align: left;
}

.contenedor2 {
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
}

.contenedor1 {
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
}

